#################################################
# ns-3 Build Files
#################################################

build/
cmake-cache/
build-support/

#################################################
# CMake
#################################################

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

#################################################
# Libraries
#################################################

*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe

#################################################
# Python
#################################################

__pycache__/
*.pyc
*.pyo

#################################################
# Editor
#################################################

.vscode/
.idea/

#################################################
# Backup Files
#################################################

*.bak
*.orig
*.tmp

#################################################
# Windows ADS
#################################################

*:Zone.Identifier

#################################################
# Logs
#################################################

*.log

#################################################
# Results
#################################################

*.csv
*.png

#################################################
# Temporary
#################################################

*.swp
*~
